In [2]:
import pandas as pd

filepath = "nifty_fifty.csv"  # Replace with the actual file path
df = pd.read_csv(filepath)

# Display the first few rows
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,30-Jul-24,24839.40,24971.75,24798.65,24857.30,384989431,37576.58
1,31-Jul-24,24886.70,24984.60,24856.50,24951.15,333646302,35411.32
2,1-Aug-24,25030.95,25078.30,24956.40,25010.90,431313292,38822.90
3,2-Aug-24,24789.00,24851.90,24686.85,24717.70,345027881,35368.54
4,5-Aug-24,24302.85,24350.05,23893.70,24055.60,486994718,45066.65

In [9]:

df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             127 non-null    object
 1   Open             127 non-null    float64
 2   High             127 non-null    float64
 3   Low              127 non-null    float64
 4   Close            127 non-null    float64
 5   Shares Traded    127 non-null    int64
 6   Turnover (₹ Cr)  127 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 7.1+ KB

,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
count,127.000000,127.000000,127.000000,127.000000,1.270000e+02,127.000000
mean,24452.412205,24559.081890,24314.801969,24422.829528,2.891581e+08,30342.201654
std,745.052162,742.198116,765.005118,762.238109,8.599530e+07,10803.020195
min,22940.150000,23007.450000,22786.900000,22829.150000,3.881139e+07,3348.450000
25%,23896.825000,24077.875000,23776.075000,23895.350000,2.390233e+08,25140.035000
50%,24386.850000,24503.350000,24280.200000,24435.500000,2.759519e+08,28046.450000
75%,25024.125000,25085.850000,24890.975000,24976.625000,3.170228e+08,33111.485000
max,26248.250000,26277.350000,26151.400000,26216.050000,6.871728e+08,89554.910000

In [10]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

# Drop rows with missing values
df.dropna(inplace=True)

# Alternatively, fill missing values if appropriate (example: forward-fill method)
# df.fillna(method='ffill', inplace=True)

Missing Values:
 Date               0
Open               0
High               0
Low                0
Close              0
Shares Traded      0
Turnover (₹ Cr)    0
dtype: int64

In [11]:
df['Daily Change %'] = ((df['Close'] - df['Open']) / df['Open']) * 100

In [12]:
# Summary statistics of Daily Change %
df['Daily Change %'].describe()

count    127.000000
mean      -0.121070
std        0.656901
min       -1.787214
25%       -0.477864
50%       -0.090134
75%        0.250164
max        2.116241
Name: Daily Change %, dtype: float64

In [14]:
print("Available Columns:", df.columns)

Available Columns: Index(['Date', 'Open', 'High', 'Low', 'Close', 'Shares Traded',
       'Turnover (₹ Cr)', 'Daily Change %'],
      dtype='object')